<% include ./partials/header %>

  <form action="/index" method="GET" class="form-inline">
    <div id="adiv">
      <input type="text" name="search" placeholder="Search for colleges" class="form-control" autocomplete="off">
      <input type="submit" value="Search" class="btn btn-default">
    </div>
  </form>
<br>
<br>
<center><img src="images/college1.jpg" name="slide" width="1000" height="600"></center>
<script type="text/javascript">
  var image1 = new Image();
  image1.src = "images/college1.jpg"
  var image2 = new Image();
  image2.src = "images/college2.jpg"
  var image3 = new Image()
  image3.src = "images/college3.jpg"
  var step = 1

  function slideit() {
    document.images.slide.src = eval("image" + step + ".src")
    if (step < 3)
      step++
    else
      step = 1
    setTimeout("slideit()", 3000)
  }
  slideit()
</script>
</center>
<br />
<% include ./partials/footer %>
